/* NavigationBar.css */

.custom-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent !important;
    padding: 1px 10px;
    box-shadow: none;
    margin-bottom: 0;    
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-nav {
    color: rgb(14, 13, 13) !important;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}
.nav-link {
    color: rgb(14, 13, 13) !important;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}

.navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(29, 27, 27);
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.special-link {
    font-family: 'Italianno', cursive;
    font-size: 2.5rem;
    text-decoration: none !important;
    letter-spacing: 4px;
    transition: text-shadow 0.3s ease-in-out;
    margin-right: 90px;
}

.special-link::after {
    display: none !important;
}

.special-link:hover {
    letter-spacing: 5px;
}

/* Responsive styling */
@media (max-width: 992px) {
    .custom-navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-container {
        flex-direction: column;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
}

.language-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.flag-icon {
    width: 20px;
    
    height: auto;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect */
.language-toggle:hover .flag-icon {
    transform: scale(1.1);
}